/* index.css  aqui nos temos o css de todos os arquivos dinamicos em screens*/

body {
    font-family: Arial, sans-serif;
    background-color: #1A5724;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;

}

.content {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.left-gradient {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 25%;
    height: 100%;

    background-color: rgb(0, 129, 28);

}

.left-gradient-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 15%;
}


.left-gradient-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 77%;
}

.left-gradient-content-item {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 10%;
    background-color: #108600;
    color: #ffffff;
    font-size: 18px;
    cursor: pointer;
}

.left-gradient-content-item:hover {
    background-color: #f2f2f2;
}

.logo-item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 100%;
}

.text-item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 80%;
    height: 100%;
}

.text-item:hover {
    color: #555555;
}

.padding-item {
    padding: 18px;
    display: flex;
    flex-direction: row;
}

.left-gradient-footer{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 8%;
    background-color: #108600;
    color: #ffffff;
    font-size: 15px;
    cursor: pointer;
}

.left-gradient-footer:hover {
    background-color: #f2f2f2;
}


.separator {
    width: 80%; /* Ajuste a largura conforme necessário */
    border: 1px solid #ffffff; /* Cor da linha */
    margin-top: 10px; /* Espaço acima da linha */
    margin-bottom: 10px; /* Espaço abaixo da linha */
}

.rigth-gradient {
    flex-direction: column;
    align-items: flex-start;
    width: 75%;
    height: 100%;
    background-color: rgb(161, 161, 161);
    font-family: Segoe UI;

}

.rigth-gradient-header-above {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: auto;
    height: 8%;
    background-color: #ffffff;
}

.rigth-gradient-header-below {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: auto;
    height: 8%;
    background-color: #4d4a4a;

    font-size: 15px;
    color: #ffffff;
}





.date {
    font-size: 12px;
    color: #2dc200;
    padding: 10px;
}

.time {
    font-size: 12px;
    color: #353535;
    padding: 10px;
}

.user-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 13px;
    color: #ffffff;
    text-transform: capitalize; 
    padding: 10px;
    
}

.padding {
    padding: 10px;
}


/* ========================================================= */
/* ======================== Gradiente pai  ============================= */

.rigth-gradient-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 84%;
    background-color: #a7a7a7;
}



